* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    background-color: orange;
}

.libro {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;
}

.pagina {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;

}

.hojasimpar,
.hojaspar {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.hojasimpar {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid powderblue;
}

.hojaspar{
    z-index: 0;
}

.imparhoja,
.parhoja {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parhoja {
    transform: rotateY(180deg)
}


.flipped .hojasimpar,
.flipped .hojaspar {
    transform: rotateY(-180deg);
}

button {
    border: none;
    background-color: whitesmoke;
    cursor: pointer;
    margin: 15px;
}

button:focus {
    outline: auto;
}

button:hover i {
    color: grey;
}

i {
    font-size: 50px;
    color: grey;
}

h1 {
    text-align: center;
}

#pag1 {
    z-index: 3;
}

#pag2 {
    z-index: 2;
}

#pag3 {
    z-index: 1;
}
